.maincontainer{
    margin-top: 50px;
    width: 20%;
    height: 450px;
    border:1px solid;
    border-radius: 20px;
    margin-left: 50px;
    background-image: url(../../assets/user1bg.png);
    
}
.header{
    display: flex;
    align-items: center;
    border: 1px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.header a{
    padding-left: 2px;
}
.header h5{
    padding-left: 48px;
}
.header i{
    padding-left: 10px;
    margin-left: 14px;
}
.input{
    margin-top: 371px;
    align-items: center;
    position: fixed;
    
}
.input input{
    width: 80%;
    padding-top: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 30px;
    position: relative;
    
    
}
.input button{
    border-radius: 30px;
    position: absolute;
background: white;

    
}

.messages{
    width: 100%;
    
    
}

.leftmsg{
    float: left;
    width: 50%;
}

.rightmsg{
    float: left;
    margin-left: 100px;
}

.rightmsg img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.leftmsg img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}