<div class="maincontent">
    <div class="userlist">
        <i class="fas fa-bars"></i>
        <input type="text" placeholder="Search.." name="search">
        <ul class="usermainlist">
            <li><a routerLink="user1">
                <img src="../../assets/subin.jpg"/>
                <span>Subin</span>
            </a></li>
            <li><a routerLink="user2">
                <img src="../../assets/user2bg.png"/>
                <span>Jacob</span>
            </a></li>
            <li><a routerLink="group">
                <img src="../../assets/user2bg.png"/>
                <span>Group</span>
            </a></li>
        </ul>
    </div>
    <div class="content">
        <p>Start your message here!</p>
    </div>
</div>