<div class="maincontainer">
    <div class="header">
        <a routerLink=""><i class="fa fa-arrow-left"></i></a>
        <h5>{{username}}</h5>
        <i class="fa fa-phone" style="font-size:24px"></i>
        <i class="fa fa-video-camera" style="font-size:24px"></i>
        <i class="fa fa-ellipsis-v" style="font-size:24px"></i>
    </div>
    <div class="messages">
        <div class="rightmsg">
            <!-- <p *ngFor="let sendmsg1 of sendmsg">
                {{sendmsg1}}
            </p> -->
            <p *ngFor="let dmsg of displaymsg"><img src={{img3}}>{{dmsg}}</p>
        </div>
        <div class="leftmsg">
           
            <p *ngFor="let msg of recevidemsg"><img src={{img2}}>

                {{msg}}
            
            </p>
         
            
        </div>
         
    </div>
    
    <div class="input">
        <input type="text" #user1message>
        <button (click)="deliver(user1message.value)"> <i class="fa fa-telegram" style="font-size:36px"></i></button>
    </div>
</div>