<div class="maincontent">
    <div class="userlist"><a routerLink=""><i class="fas fa-arrow-left"></i></a>
        
        <input type="text" placeholder="Search.." name="search">
        <ul class="usermainlist">
            <li><a routerLink="user3">
                <img src="../../assets/user3.jpg"/>
                <span>Vijay</span>
            </a></li>
            <li><a routerLink="user4">
                <img src="../../assets/ajith.jpeg"/>
                <span>Ajith</span>
            </a></li>
            <li><a routerLink="user5">
                <img src="../../assets/user5.jpg"/>
                <span>Sk</span>
            </a></li>
        </ul>
    </div>
    <div class="content">
        <p>Stat your message here!</p>
    </div>
</div>